.sidebar-advertisement-banner, .smp-right-sidebar-wrapper {
	width: 300px;
	float: right;
	margin-bottom: 30px;
}


@media screen and ( max-width: 992px ) {
	.sidebar-advertisement-banner, .smp-right-sidebar-wrapper {
		width: 100%;
	}
}

@media screen and ( max-width: 767px ) {
	.sidebar-advertisement-banner, .smp-right-sidebar-wrapper {
		margin-top: 18px;
	}
}
