// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$primary: #0079a0;
$secondary: #ee5d57;
$orange: #f86f14;
$black: #000000;
$white: #ffffff;
$white-smoke: #f4f4f4;
$gray: #707070;
$darkgray: #606060;
$lightgray: #d9d9d9;
$shadwo: #00000029;
$darkblue: #1b3367;
$lightblue: #1d63d3;
$blue-focus: #4DB2EC;
$link-color: #1b3367;
$choco: #2E0000;
$basefont: 'Open Sans Condensed';
$bodyfont: 'miller-text, serif';
$oxygen: 'Oxygen', sans-serif;
$secondaryfont: $oxygen; // 'Open Sans' - old font 
$helvatica: $oxygen; // 'Open Sans' - old font
$counter: 'my-awesome-counter';
$content_search: 'Search';
$readmore: #0062da;
